
<div class="cell card news-card">
  {{if .Params.image }}
    <img src="{{ .Site.BaseURL }}{{ .Params.image }}">
  {{ end }}
    <div class="card-section">
      <article class="news-card-article">
        <h4 class="news-card-title"><a href="{{ .RelPermalink }}"> {{ .Title }}</a></h4>
        <div class="news-card-meta"> Publicado el {{ .Date.Format "02-01-2006"}}
            {{ if .Params.author }}
              por <b>{{ .Params.author }}</b>
            {{ end }}
          </div> 
        <p class="news-card-description">{{ .Summary }}</p>
        <p class="news-card-read-more"><a href="{{ .RelPermalink }}"> Leer más</a></p>
      </article>
    </div>
  </div>