{{ define "main" }}
	<div class="row-x">
		<div class="small-12 medium-12 cell">
			<p> {{ .Content }} </p>
		</div>
	</div>	
	{{ $first := true }}
	<div class="cell">
		<ul class="tabs" data-tabs data-deep-link="true" data-update-history="true" id="projects-tabs">
			{{ range $id, $grupo := .Site.Data.proyectos }}
			<li class="tabs-title {{ if $first }}is-active{{end}}"><a data-tabs-target="cat_{{$id}}" {{ if $first }}aria-selected="true"{{end}}>{{$grupo.nombre}}</a></li>
			{{ $first = false }}
			{{ end }}
		</ul>
		  <div class="tabs-content" data-tabs-content="projects-tabs">
			{{ $first := true }}
			{{ range $id, $grupo := .Site.Data.proyectos }}
			<div class="tabs-panel {{ if $first }}is-active{{end}} grid-container" id="cat_{{$id}}">
				<div class="grid-x grid-margin-x small-up-1 medium-up-3">
					{{ range $grupo.proyectos}}
						{{ if (not .oculto) }}
							<div class="projects-desktop image-hover-wrapper">
								<a href="{{.url}}">
								<div class="proyecto-img-helper">
									<span></span>
									<img src="{{ $.Site.BaseURL }}/img/proyectos/{{ .imagen }}">
								</div>
								<span class="image-hover-wrapper-reveal">
								<h3>{{ .nombre }}</h3>
									<p>{{ .descripcion }}</p>
								</span>
								</a>
							</div>
							<div class="projects-mobile flex-centered">
								<a href="{{.url}}">
									<div class="mini-logo">
										<img src="{{ $.Site.BaseURL }}/img/proyectos/{{ .imagen_sm }}">
									</div>
								</a>
								<div class="mini-project-description">
									<h5>{{ .nombre }}</h5>
									<p>{{ .descripcion }}</p>
								</div>
							</div>
						{{ end }}				  
					{{ end }}				  
				</div>
				{{ $first = false }}
			</div>
			{{ end }}					
		</div>	
	</div>
{{ end }}
  
  
  
  